<section id="home" class="col-lg-12 col-xs-12 bordered-shadowed">
    <aside class="col-xs-12 col-sm-4 col-md-3" style="margin: 0 auto">
        <img src="images/devfest-logo-2013.png" />
    </aside>
    <section class="col-xs-12 col-sm-8 col-md-5 text-center">
        <h1>DevFest Fresno 2013</h1>
        <p class="lead" style="padding: 20px">DevFest Fresno is a full-day developer conference consisting of technical talks related to Google technologies. This event is organized by the local <a href="http://developers.google.com/groups" target="_blank">Google Developer Group</a>, and will take place in the Old Administration Building at Fresno City College. Speakers are from the surrounding community, and all interested developers are welcome to come participate in these sessions.</p>
    </section>
    <section class="col-xs-12 col-sm-12 col-md-4" >
        <div style="width:195px; text-align:center;margin:50px auto;" ><iframe  src="http://www.eventbrite.com/countdown-widget?eid=7070364651" frameborder="0" height="258" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:195px; text-align:center;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/ecount">Sell Tickets Online</a> <span style="color:#ddd;">through</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=ecount">Eventbrite</a></div></div>
    </section>
</section>