
<section  class="col-lg-12 col-xs-12 bordered-shadowed">
    <img src="images/devfesttorino.png"  alt="banner dev fest torino" />
</section>
<section id="home" class="col-lg-12 col-xs-12 bordered-shadowed">
    <aside class="col-xs-12 col-sm-4 col-md-3" style="margin: 0 auto">
        <img src="images/devfest-logo-2013.png" alt="logo gdg torino" />
    </aside>
    <section class="col-xs-12 col-sm-8 col-md-5 text-center">
        <h1>DevFest Torino 2013</h1>
        <p class="lead" style="padding: 20px">DevFest Torino è un evento con talks tecnici relativi alle tecnologie Google. Questo evento è organizzato dal <a href="http://developers.google.com/groups" target="_blank">Google Developer Group</a> locale.</p>
        <p>Gli speakers sono provengono dalla comunità del GDG Torino con la partecipazione anche del GDG Firenze e di un Googler</p>
    </section>
    <section class="col-xs-12 col-sm-12 col-md-4" >
        <div style="width:195px; text-align:center;margin:50px auto;" ><iframe  src="http://www.eventbrite.com/countdown-widget?eid=7070364651" frameborder="0" height="258" width="195" marginheight="0" marginwidth="0" scrolling="no" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:195px; text-align:center;" ><a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/ecount">Sell Tickets Online</a> <span style="color:#ddd;">through</span> <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=ecount">Eventbrite</a></div></div>
    </section>
</section>